@font-face {
    font-family: 'Fruktur Regular';
    src: url('/font/fruktur_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #131011;
    --theme-color: #ff940f;
    --text-color: white;
    --flavor-text-color: #222222;
    --main-font: 'Inter';
    --flavor-font: 'Fruktur Regular';
}

html, body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-smooth: always;
    color: var(--text-color);
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);

    background-image: url('/img/bg.svg');
    background-size: 100px;
    z-index: -2;
}

a {
    all: unset;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr {
    border-color: rgba(255, 255, 255, 0.5);
    width: 80%;
}

p {
    font-size: 1.2em;
}

em {
    all: unset;
    color: var(--theme-color);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#page_container {
    gap: 0px 0px;
    height: 100%;
}

#hero_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;

    width: 100%;
    height: 100vh;

    animation: fadein .5s;
}

#hero_image {
    max-width: 56em;
    max-height: max(15em, 40%);
}

#hero_text {
    font-size: min(8vw, 5em);
    -webkit-text-stroke-width: min(.3vw, 3px);
    text-align: center;
}

#hero_subtext {
    font-size: min(6vw, 3em);
    font-style: italic;
    text-align: center;
}

#hero_scrolldown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 0.25);
    animation: bounce 3s infinite, fadein 5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

#hero_down_arrow {
    position: relative;
    height: 50px;
}

.content {
    width: 100%;
    height: fit-content;
    padding: 24px 0px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.content div {
    width: 95%;
    max-width: 1000px;
    flex-grow: 2;
}

.end_block {
    background-color: var(--bg-color);
}

.end_block {
    color: lightgray;
}

.end_block h1 {
    font-weight: bold;
    color: var(--theme-color);
}

.end_block h2 {
    font-weight: bold;
    color: white;
}

#tfclink {
    color: #57F5D9;
    font-weight: bold;
}

#tfclink:hover {
    cursor: pointer;
}

.linkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 10px;    
}

.linkbox a {
    color: var(--theme-color);
    font-size: 1.2em;
}

.reduced_linkbox a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}

#gradient {
    position: fixed;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.9) 100%);
    height: 100%;
    width: 100%;
}

.line {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    margin: 10px;
    flex-grow: 2;
}

.button:hover {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    border-radius: 50px;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, .2);
    border-width: 3px;
    border-style: solid;
    border-color: var(--theme-color);
    backdrop-filter: blur(3px);
}

.lit_button {
    background-color: var(--theme-color);
    color: black;
}

.flavor {
    font-family: var(--flavor-font), 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--flavor-text-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--theme-color);
}